version: "3.9"

services:
  # -------------------------
  # MINIO
  # -------------------------
  sonya-wms-minio:
    image: minio/minio:latest
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: sonyawms_admin
      MINIO_ROOT_PASSWORD: sonyawms_admin_pwd
    ports:
      - "49100:9000"
      - "49101:9001"
    volumes:
      - sonya_wms_minio_data:/data

  # -------------------------
  # POSTGRES
  # -------------------------
  sonya-wms-postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: sonya_wms_user
      POSTGRES_PASSWORD: sonya_wms_pwd123
      POSTGRES_DB: sonya_wms_dwh
    ports:
      - "55432:5432"
    volumes:
      - sonya_wms_postgres_data:/var/lib/postgresql/data

  # -------------------------
  # SPARK MASTER
  # -------------------------
  sonya-wms-spark-master:
    image: apache/spark:3.5.3
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.master.Master
    environment:
      SPARK_MASTER_HOST: sonya-wms-spark-master
      SPARK_MASTER_PORT: 7077
      SPARK_MASTER_WEBUI_PORT: 8081
    ports:
      - "38181:8081"
      - "37077:7077"
    volumes:
      - ./data:/opt/data

  # -------------------------
  # SPARK WORKER
  # -------------------------
  sonya-wms-spark-worker:
    image: apache/spark:3.5.3
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker spark://sonya-wms-spark-master:7077
    depends_on:
      - sonya-wms-spark-master
    environment:
      SPARK_WORKER_CORES: 2
      SPARK_WORKER_MEMORY: 2g
    volumes:
      - ./data:/opt/data

  # -------------------------
  # AIRFLOW (—Å Java)
  # -------------------------
  sonya-wms-airflow:
    build:
      context: .
      dockerfile: Dockerfile.airflow
    
    depends_on:
      - sonya-wms-postgres
      - sonya-wms-spark-master
    environment:
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://sonya_wms_user:sonya_wms_pwd123@sonya-wms-postgres/sonya_wms_dwh
      AIRFLOW__CORE__LOAD_EXAMPLES: 'false'
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__WEBSERVER__SECRET_KEY: 'supersecretkey123'
      AIRFLOW_CONN_SPARK_DEFAULT: 'spark://spark%3A%2F%2Fsonya-wms-spark-master:7077'
      SONYA_WMS_MINIO_ENDPOINT: sonya-wms-minio:9000
      SONYA_WMS_RAW_BUCKET: sonya-wms-raw
      SONYA_WMS_DDS_BUCKET: sonya-wms-dds
      SONYA_WMS_DM_BUCKET: sonya-wms-dm
      SONYA_WMS_RAW_PREFIX: 2024/12
      SONYA_WMS_DDS_PREFIX: 2024/12/dds
      SONYA_WMS_DM_PREFIX: 2024/12/dm
      SONYA_WMS_POSTGRES_HOST: sonya-wms-postgres
      SONYA_WMS_POSTGRES_DB: sonya_wms_dwh
      SONYA_WMS_POSTGRES_USER: sonya_wms_user
      SONYA_WMS_POSTGRES_PASSWORD: sonya_wms_pwd123
      _PIP_ADDITIONAL_REQUIREMENTS: "apache-airflow-providers-apache-spark==4.5.0 pyspark==3.5.3 minio==7.2.7"
    volumes:
      - ./dags:/opt/airflow/dags
      - ./logs:/opt/airflow/logs
      - ./data:/opt/airflow/data
    ports:
      - "38080:8080"
    command: standalone
    user: "50000:0"

  # -------------------------
  # GRAFANA
  # -------------------------
  sonya-wms-grafana:
    image: grafana/grafana-oss:latest
    environment:
      GF_SECURITY_ADMIN_PASSWORD: admin
    ports:
      - "33000:3000"
    volumes:
      - sonya_wms_grafana_data:/var/lib/grafana

# -------------------------
# VOLUMES
# -------------------------
volumes:
  sonya_wms_minio_data:
  sonya_wms_postgres_data:
  sonya_wms_grafana_data:
